[submodule "0319Stake2/lib/forge-std"]
	path = 0319Stake2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test/lib/forge-std"]
	path = test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "0319Stake2/lib/openzeppelin-contracts"]
	path = 0319Stake2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "0321MevNFT/lib/forge-std"]
	path = 0321MevNFT/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "0321MevNFT/lib/openzeppelin-contracts"]
	path = 0321MevNFT/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "0325leverTrading/lib/forge-std"]
	path = 0325leverTrading/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "0325leverTrading/lib/openzeppelin-contracts"]
	path = 0325leverTrading/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "0326OptionTrading/lib/forge-std"]
	path = 0326OptionTrading/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "0326OptionTrading/lib/openzeppelin-contracts"]
	path = 0326OptionTrading/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "0331LoanContract/lib/forge-std"]
	path = 0331LoanContract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
